In [1]:
!pip install psycopg2
import pandas as pd
import psycopg2 as ps

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\arpit akar\appdata\roaming\python\python39\site-packages (2.9.5)

In [2]:
df=pd.read_csv(r"C://Users//Arpit Akar//Downloads//toutube.csv")
df.head()

,video_id,like_count,upload_date,comment_count,video_title,favourite_count,view_count,favorite_count
0,0T-fsA-GNMI,0,2021-09-09,NaN,The cutest lite version of tiger cub游때游때,NaN,0,0
1,4xOmMN03lq4,0,2021-09-09,NaN,9 September 2021,NaN,3,0
2,1LbiYA_2lEg,2,2020-08-04,NaN,ROYAL Enfield best silencer,NaN,6,0
3,2jFwtWYsFqA,0,2020-08-04,NaN,Cute Puppy pulling out small tree,NaN,2,0
4,-dFD3O7TIIo,0,2020-08-04,NaN,Pedigree love,NaN,2,0

In [ ]:
host_name=
dbname=
port=
username=
password=
conn=None
conn=connect_to_db(host_name,dbname,port,username,password)

In [ ]:
def connect_to_db(host_name,dbname,port,username,password):
    try:
        conn=ps.connect(host=host_name,database=dbname,user=username,password=password,port=port)
    except ps.operationalError as e:
        raise e
    else:
        print('connceted')
    return conn

In [4]:
df=pd.read_csv(r"C://Users//Arpit Akar//Downloads//toutube.csv")
df.head()

,video_id,like_count,upload_date,comment_count,video_title,favourite_count,view_count,favorite_count
0,0T-fsA-GNMI,0,2021-09-09,NaN,The cutest lite version of tiger cub游때游때,NaN,0,0
1,4xOmMN03lq4,0,2021-09-09,NaN,9 September 2021,NaN,3,0
2,1LbiYA_2lEg,2,2020-08-04,NaN,ROYAL Enfield best silencer,NaN,6,0
3,2jFwtWYsFqA,0,2020-08-04,NaN,Cute Puppy pulling out small tree,NaN,2,0
4,-dFD3O7TIIo,0,2020-08-04,NaN,Pedigree love,NaN,2,0

In [ ]:
# create table regualr sql coomand to push this command from python /
#notebook to sql database  and then exceute to run this command in sql /
#database

In [ ]:
# the cursor command allow us to run sql command and fetch results from the /
#  database so it basically allows python code to run sql command in our datbase/
# section
curr=conn.cursor()

In [ ]:
#create table
def create_table(curr):
    create_table_command=(""" CREATE TABLE IF NOT EXISTS videos(
    video_id varchar(255) priamry key,
    video_title text not null,
    update_date DATE not null default current_date,
    view_count integar not null,
    favourite_count integar not null,
    comment_count integar not null)""")
    curr.execute(create_table_command)

In [ ]:
# check if video exists
def check_if_video_exists(curr,(video_id)):
    query=("""select video_id from videos where video_id=%s""")
#%s will be coming from pandas df  going row by row
    curr.execute(query,(video_id))
# we are passing here variable query and video_id also as a tuple/
#from %s
    return cuur.fetchone() is not None 
#it return single row if videos is found with this video_id /
#it will return the row or else return none

In [ ]:
#updating the database
#handaling data for scalability
def update_db(curr,df):    
    tmp_df=pd.DataFrame(columns=['video_id','video_title','upload_date','comment_count','video_title','favourite_count','comment_count'])
    #check to see if video exist
    # iterows gives index and row itself so for update row curr and rows is provided
    for i,row in df.iterrows():
        if check_if_video_exists(curr,video_id):#if we already exist then we will update
            update_row(curr,row['video_id'],row['video_title'],row['view_count'],row['like_count'],row['favourite_count'],row['comment_count']  )
        else: # the video doesn't exists so we will append to the table
            tmp_df=tmp_df.append(row)
    return tmp_df

In [ ]:
create_table(curr)
conn.commit()

In [ ]:
# push  table rows into the sql  1. rows that are necer updated once the  make /
# it to the database like bankpassbo0k 2.continious updation
#perform update on existing videos
#perform an insert on new videos

In [ ]:
def update_row(curr,video_id,video_title,view_count,like_count,favourite_count,comment_count):
    query= ( """ UPDATE videos
            SET video_title=%s,
            view_count=%s,
            like_count=%s,
            favourite_count=%s,
            comment_count=%s
        where video_id=%s;""")
    vars_to_update=(video_title,view_count,like_count,favourite_count,comment_count,video_id)
    # vars_to_update has all the parameters of pandas df
    #cursor is given with query and pandas column as df
    curr.execute(query,vars_to_update)

In [ ]:
#write insert command
def insert_into_table(curr,video_id,video_title,upload_date,view_count,like_count,favourite_count,comment_count):
    insert-into_videos=(""" INSERT INTO videos (video_id,video_title,view_count,like_count,favourite_count,comment_count)
    VALUES(%s,%s,%s,%s,%s,%s,%s);""")
    row_to_insert=(video_id,video_title,upload_date,view_count,like_count,favourite_count,comment_count)
    curr.execute(insert_into_videos,row_to_insert)

In [ ]:
def append_from_df_to_db(curr,df):
    for i,row in df.iterrows():
        insert_into_table(curr,row['video_id'],row['video_title'],row['view_count'],row['like_count'],row['favourite_count'],row['comment_count'])

In [ ]:
new_video_df=update_db(curr,df)

In [ ]:
append_from_df_to_db(curr,new_video_df)

In [ ]:
conn.commit()